<h1>New Wiki</h1>

  <div class="form-group">
    
    <%= form_for @wiki do |f| %>
      <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
      <%= f.text_area :body, rows: 12, class: 'form-control', placeholder: 'Body' %>
    <% end %>

    <button type="submit" class="btn btn-default">Submit</button>
  </div>